* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$text-color: black;
$grey-btn: #a8a6a1;

$medium-breakpoint: 1030px;
$blend: 860px;
$small-breakpoint: 690px;
$iphone-brk: 445px;
$smiphone-brk: 395px;


// Menu Section
.menu-wrapper {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .rest-name {
        font-size: 30px;
        color: $text-color;
        margin-left: 20px;
    }   

    .nav-link {
        color: $text-color;
        font-weight: lighter;
        font-size: 18px;
    } 

    .reserv {
        color: $grey-btn;
        border: 2px solid $grey-btn;
        padding: 15px 30px;
        margin-right: 20px;
        text-decoration: none;

        &:hover {
            color: white;
            background-color: $grey-btn;
        }
    }
}

.main-pic {
    width: 100%;
    padding: 0 20px;
}

.main-paragraph {
    text-align: center;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin: 150px 35px;
}

.dish-img {
    width: 550px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-btt {
    font-size: 65px;
    color: $grey-btn;
    padding-left: 50px;
 
    &:hover {
        text-decoration: none;
        opacity: .7;
        color: $grey-btn;
    }
}

.drink-img {
    width: 450px;
    float: right;
    padding-right: 50px;
}

.desserts-btt{
    font-size: 65px;
    color: $grey-btn;
    padding-right: 50px;
    padding-bottom: 50px;
    float: right;

    &:hover {
        text-decoration: none;
        opacity: .7;
        color: $grey-btn;
    }
}

.footer-img{
    width: 100%;
    height: 65vh;
    margin-top: 75px;
    object-fit: cover;
}

.grey-container{
    width: 100%;
    background-color: #22262a;
}

.first-row {
    padding-top: 20px;

    .ft-menu{
     color: white;
     font-weight: lighter;

        &:hover{
            text-decoration: none;
            color: $grey-btn;
        }
    }
}

.second-row {
    padding-top: 20px;
}

.third-row {
    padding-top: 30px;

    .ft-reserv{
        color: white;
        font-weight: lighter;
   
           &:hover{
               text-decoration: none;
               color: $grey-btn;
           }
       }
}


@media (max-width: $medium-breakpoint) {
    .dish-img {
        width: 450px;
    }

    .contact-btt {
        font-size: 45px;
    }

    .drink-img {
        width: 350px;
    }

    .desserts-btt {
        font-size: 45px;
    }
}

@media (max-width: $small-breakpoint){
    .menu-wrapper .rest-name {
        font-size: 22px;
    }

    .menu-wrapper .nav-link {
        font-size: 14px;
    }

    .menu-wrapper .reserv {
        font-size: 14px;
        padding: 10px 15px;
    }

    section .second-sec {
        margin-top: 400px;
    }

    main .main-paragraph {
        font-size: 22px;
        margin: 150px 35px 75px 35px;
    }
}

@media (max-width: $blend){
    .second-sec {
        margin-top: 300px;
    }

    .dish-img {
        width: 450px;
        margin-top: 35px; 
    }

    .contact-btt {
        font-size: 35px;
    }

    .drink-img {
        width: 350px;
    }

    .desserts-btt {
        font-size: 35px;
    }
}

@media (max-width: $iphone-brk) {
    .menu-wrapper .rest-name {
        font-size: 15px;
    }

    .menu-wrapper .nav-link {
        font-size: 11px;
        margin: -10px;
    }

    .menu-wrapper .reserv {
        font-size: 12px;
        padding: 5px 8px;
    }

    main .main-paragraph {
        font-size: 18px;
        margin: 85px 35px 50px 35px;
    }

    section .second-sec {
        margin-top: 425px;
    }

    .dish-img {
        width: 400px;
        margin-top: 35px;
        margin-left: -25px;
    }

    .contact-btt {
        font-size: 35px;
    }

    .drink-img {
        width: 350px;
    }

    .desserts-btt {
        font-size: 35px;
    }

    .footer-img {
        height: 40vh;
        object-fit: cover;
    }

    .grey-container {
        font-size: 12px;
    }
}

@media (max-width: $smiphone-brk){
    .menu-wrapper .rest-name {
        font-size: 14px;
    }

    .menu-wrapper .nav-link {
        font-size: 10px;
        margin: -10px;
    }

    .menu-wrapper .reserv {
        font-size: 12px;
        padding: 5px 8px;
    }
    
    .grey-container {
        font-size: 11px;
    }

    .dish-img {
        width: 350px;
    }

    main .main-paragraph {
        margin: 65px 35px 30px 35px;
    }
}

@media (max-width: 812px) and (orientation: landscape){
    main .main-paragraph {
        font-size: 22px;
        margin: 85px 35px 50px 35px;
    }
}